
<div class="form" >
<form [class.div_handset]="(isHandset$ | async)"
[class.div_form]="!(isHandset$ | async)">
    <mat-form-field class="example-full-width">
        <mat-label>Telephone</mat-label>
        <input type="tel" [formControl]="telFormControl" matInput placeholder="515-658-1234">
        <mat-icon matSuffix>phone</mat-icon>

        @if (telFormControl.hasError('pattern') && !telFormControl.hasError('required')) {
          <mat-error>Please enter a valid phone number.</mat-error>
        }

      @if (telFormControl.hasError('required')) {
        <mat-error>Telphone is <strong>required</strong>.</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="text" matInput [formControl]="passFormControl">
        
        @if (passFormControl.hasError('pattern') 
          && !passFormControl.hasError('required')
            && !passFormControl.hasError('minLength')) {
          <mat-error>Your password must contain at least one special characters and one uppercase letter.</mat-error>
        }

        @if ( passFormControl.hasError('minLength') 
          && !passFormControl.hasError('required') 
            && !passFormControl.hasError('pattern')) {
          <mat-error>Your password should be at least 8 characters in length.</mat-error>
        }

        @if (passFormControl.hasError('required')) {
          <mat-error>Passowrd is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput >
         @if (passFormControl.hasError('pattern') && !passFormControl.hasError('required')) {
          <mat-error>Your password does not match, please enter again.</mat-error>
        } 
        @if (passFormControl.hasError('required')) {
          <mat-error><strong>Confirm</strong> your password</mat-error>
        }
      </mat-form-field> -->

      <button mat-raised-button>Signin</button>

  </form>
</div>